/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-latin-800italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v25-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat-v25-latin-900italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */

  /* Top-banner styles start*/
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: white;
  text-align: center;
}

.top-banner {
  font-family: "Montserrat";
  background-image: url("/img/intro_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 120px;
  background-position-x: center;
}

.top-banner__header {
  display: flex;
  align-items: center;
  margin-bottom: 160px;
  width: 100%;
}

.header__home {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  font-weight: 600;
  align-items: center;
}

.header__nav .nav__list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__actions {
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.actions__item {
  background: transparent;
  border: none;
  display: flex;
}

.item__icon {
  width: 16px;
  height: 16px;
}

.nav__link {
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  opacity: 0.75;
}

/* Home-1. Header styles end*/
/* Home-1. Intro styles start*/

.top-banner__content {
  display: flex;
  max-width: 570px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: auto;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h4,
h5,
h6 {
  color: white;
  letter-spacing: 0.2px;
  text-align: center;
  font-style: normal;
  margin: 0px;
}

#card-items {
  border-radius: 5px;
  border: 1px solid #dedede;
  background: var(--light-background, #fff);
  gap: 20px;
  padding: 30px 35px;
}

#card-staff {
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.content__slogan {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
}

.content__mission {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* Home-1. Intro styles end*/

.top-banner__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 37px;
  font-size: 14px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: white;
  font-weight: 700;
}

.button--primary {
  background: var(--primary-color, #ffa62b);
}

.button--secondary {
  border: 1px solid var(--light-background-color, #fff);
  background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-position: center;
  }

  .top-banner__header {
    flex-direction: column;
    margin-top: 20px;
  }

  .header__nav {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .header__actions {
    margin: 0 auto;
  }

  .nav__link {
    font-size: 12px;
  }

  .top-banner__content {
    gap: 20px;
  }

  .content__slogan {
    font-size: 25px;
    line-height: 40px;
  }

  .content__mission {
    font-size: 10px;
    line-height: 20px;
  }

  .button {
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Home-2. Strong Points start*/

.strong-points,
.customer-feedback,
.our-team {
  font-family: "Montserrat";
  background-color: #252b42;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.strong-points__content {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  margin: 145px 0 10px 0;
}

.content__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.grid-container {
  display: grid;
  align-content: space-around;
  grid-template-columns: auto auto auto;
  gap: 30px;
  padding: 50px 0 80px 0;
}

.grid-card {
  background-color: white;
  display: flex;
  width: 328px;
  padding: 35px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border: 1px solid #e8e8e8;
}

.card__title {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.card__text {
  color: #737373;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: justify;
}

.card-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

/* Home-2. Strong Points end*/

/* Home-4. What Clients Say start*/

.feedback__content {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content__general-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  margin: 80px 0 10px 0;
}

.stars {
  height: 20px;
  width: 90px;
  background-image: url("/img/svg/star.svg");
  background-repeat: repeat-x;
  padding: 0;
}

.empty-stars {
  height: 20px;
  width: 115px;
  background-image: url("/img/svg/empty-star.svg");
}

.client__name {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: flex;
  text-decoration: none;
  color: #ffa62b;
}

.client__job {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: flex;
  text-decoration: none;
  color: #252b42;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.client__photo {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid var(--muted-color, #bdbdbd);
  background: lightgray 50% / cover no-repeat;
}

/* Home-4. What Clients Say end*/

/* Home-5. Meet our team start*/
.staff__content {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.staff__social-media {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.social-media {
  width: 24px;
  height: 24px;
}

.staff__name {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: justify;
}

.staff__job {
  color: #737373;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: justify;
  margin: 5px 0 5px 0;
}

/* Home-5. Meet our team end*/
