/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-latin-600italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v25-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/montserrat-v25-latin-800italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v25-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/montserrat-v25-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */


/* Header styles start*/

}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: white;
    text-align: center;
}


.top-banner {
    font-family: 'Montserrat';
    background-image: url("/img/intro_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 120px;
    background-position-x: center;
}

.header {
    position: fixed;
    top: 23px;
    left: 0;
    width: 100%;
}

.top-banner__header {
    display: flex;
    align-items: center;
    margin-bottom: 160px;
    width: 100%;
}


.item__icon {
    width: 16px;
    height: 16px;
}


.header__nav {
    margin-left: auto;
    font-weight: 600;
}


.header__nav .nav__list {
    display: flex;
    gap: 20px;
}


.header__actions {
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions__item {
    background: transparent;
    border: none;
    display: flex;
}

.nav__link {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: white;
    text-decoration: none;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
    opacity: 0.75;
}

/* Header styles end*/
/* Intro styles start*/

.top-banner__content {
    display: flex;
    max-width: 570px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: auto;
}

.container {
    width: 1020px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



h1,
h4 {
    color: white;
    letter-spacing: 0.2px;
    text-align: center;
    font-style: normal;
    margin: 0px;
}

.content__slogan {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;

}

.content__mission {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

}


/* Intro styles end*/

.top-banner__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.button {
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 37px;
    font-size: 14px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: white;
    font-weight: 700;
}


.button--primary {
    background: var(--primary-color, #FFA62B);

}

.button--secondary {
    border: 1px solid var(--light-background-color, #FFF);
    background-color: transparent;
}